/** @format */

body {
  background-color: #e9967a;
  overflow-y: auto;
}

header {
  height: 60px;
  background-color: #343a40;
}

.main {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

footer {
  height: 25px;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: flex;
  align-items: center;
}

button[type='submit'] {
  width: 100px;
  height: 35px;
}

button[type='submit']:hover {
  background-color: #333;
  color: #fff;
}
