/** @format */

body {
  background-color: #e9967a;
  overflow-y: auto;
}

header {
  height: 60px;
  background-color: #343a40;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

footer {
  height: 25px;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: flex;
  align-items: center;
}

button[type='submit'] {
  width: 100px;
  height: 35px;
}

button[type='submit']:hover {
  background-color: #333;
  color: #fff;
}

.home-section {
  text-align: center;
  background-color: #e9967a;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-section div,
.home-section p {
  margin: 0;
}

.Logotipo {
  max-width: 100px;
  margin-bottom: 10px;
}

.receitas {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #e9967a;
  gap: 1rem;
}

.card {
  background-color: #ffff;
  padding: 20px;
  width: calc(100% / 3 - 22px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 2rem;
  height: auto;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
}

.card-text {
  margin-top: 2rem;
}

.card-body {
  width: 85%;
  padding-top: 2rem;
}

.card-body p {
  text-align: left;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
.card ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}
.card p {
  font-size: 16px;
}
