/** @format */

.receitas {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #e9967a;
  gap: 1rem;
}
.card {
  background-color: #f5deb3;
  padding: 20px;
  width: 15%;
}

.ingredientes {
  margin-top: 2rem;
}

.preparo {
  width: 85%;
  padding-top: 2rem;
  border-top: 1px solid black;
}

.preparo p {
  text-align: left;
}

.receitas img {
  width: 100%;
  height: auto;
}
.receitas h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
.receitas ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}
.receitas p {
  font-size: 16px;
}
